:root {
/* colors */  
--green: hsl(75, 94%, 57%) ;
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%) ;
--grey-800: hsl(0, 0%, 12%) ;
--grey-900: hsl(0, 0%, 8%) ;
/* Font settings */
--font-family-base: 'Inter', sans-serif;
--font-weight-regular: 400;
--font-weight-semibold: 600;
--font-weight-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-900);
  font-family: 'Inter', sans-serif;
  color: var(--white);
  font-weight: var(--font-family-base);
}

.card {
  background-color: var(--grey-800);
  margin: auto;
  padding: auto;
  display: block;
  align-items: center;
  text-align: center;
  max-width: 375px;
  border-radius: 8px;
}

.avatar img {
  border-radius: 50%;
  width: 80px;
  height: auto;
}

.title {
  font-weight: var(--font-weight-regular);
  font-size: 14px;
}

.title .location {
  color: var(--green);
}

.links {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-regular);
}

.links a {
  display: inline-block;
  color: var(--white);
  margin: 6px;
  padding: 12px;
  max-width: 280px;
  border-bottom: 18px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--grey-700);
  text-decoration: none;
  font-size: 14px;
}



